#contact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#contact ul {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

#contact ul a {
  border: none;
}

#insta {
  color: rgb(246, 59, 143);
}

#threads {
  color: rgb(226, 220, 223);
}

#linkedin {
  color: rgb(67, 46, 255);
}

#whats {
  color: rgb(59, 246, 168);
}
