header {
    background-color: #1e0d36;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    cursor: pointer;
}

header img {
    max-width: 2rem;
    opacity: .7;
    transition: .4s ease-in-out;

}

header img:hover {
    opacity: 1;
    border: 1px solid;
    border-radius: 50%;
}


header ul{
display: flex;
gap: 1.5rem;
}

header ul li a {
    border: none;
}