#home {
  width: 80%;
  min-height: 80vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-presentation {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.paragraph-relative {
  position: relative;
}

.paragraph-relative p {
  font-size: 19px;
  position: absolute;
  top: -45px;
  left: 290px;
}

.paragraph-relative p span {
  color: var(--blue-color);
}

.vector {
  position: absolute;
  left: 200px;
  bottom: -25px;
}

.img-home-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: flex-start;
}

.img-home {
  padding: 2rem;
  background-image: url("../../assets/Gradient.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.dev-img {
  width: 250px;
  height: 260px;
}

.home-presentation .container-title-home {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 2.2rem;
}

.container-title-home #title-home {
  max-width: 500px;
  margin-bottom: 1rem;
  color: var(--white-color);
  line-height: 4rem;
  font-size: 3rem;
}

.container-title-home #title-home span {
  color: var(--hover-color);
  position: relative;
}

.container-title-home .elipse {
  position: absolute;
  left: -10px;
  top: 19px;
  width: 220px;
}

.home-presentation p:nth-child(2) {
  font-size: 0.8rem;
}

.home-about h2 span {
  font-size: 3rem;
}

.home-about p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.home-about a {
  border: none;
}

.home-about p span {
  color: var(--blue-color);
}

@media (max-width: 970px) {
  #home .img-home-container {

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-home {
    width: 200px;
    height: 200px;
    padding: 0.6rem;
  }

  .dev-img {
    width: 100%;
    height: 100%;
  }

  .container-title-home #title-home,
  .container-title-home #title-home span {
    font-size: 1.5rem;
  }

  .container-title-home .elipse {
    width: 5rem;
    top: 13px;
  }

  .container-title-home #title-home,
  .container-title-home #title-home span {
    line-height: 2.5rem;
  }

  .home-presentation .paragraph-relative {
    display: none;
  }

  .paragraph-relative p,
  .paragraph-relative span {
    font-size: 15px;
  }

  .home-about h2 span {
    font-size: 2rem;
  }

  .home-about p {
    font-size: 1rem;
  }
}
