#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.project-div {
  display: flex;
  gap: 1rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-container h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.project-div img {
  box-shadow: -73px 1px 88px 38px rgba(118, 60, 172, 0.77);
  -webkit-box-shadow: -73px 1px 88px 38px rgba(118, 60, 172, 0.77);
  -moz-box-shadow: -73px 1px 88px 38px rgba(118, 60, 172, 0.77);
  border-radius: 1rem;
  width: 500px;
  height: 300px;
}

.projects-container:last-child {
  display: flex;
  align-items: flex-end;
}

.projects-container p {
  font-size: 18px;
  font-weight: 500;
}

.projects-container p:first-child {
  font-size: 0.9rem;
  color: var(--hover-color);
  font-weight: 600;
}

.projects-container .blur {
  filter: blur(2px);
  background-color: var(--header-color);
  transition: 0.4s ease-in-out;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px -1px 11px -2px rgba(105, 59, 147, 0.75);
  -webkit-box-shadow: 0px -1px 11px -2px rgba(105, 59, 147, 0.75);
  -moz-box-shadow: 0px -1px 11px -2px rgba(105, 59, 147, 0.75);
}

.projects-container .blur:hover {
  filter: blur(0);
  background-color: transparent;
  transform: scale(1.1);
}

.projects-container .blur p {
  color: var(--white-color);
}

.projects-container:last-child {
  text-align: right;
}
