#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-skills h2,
.title-skills p {
  margin-bottom: 2rem;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}
/* 
.li-skills {
  display: flex;
} */

.container-skills li {
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-skills i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.container-skills li:last-child i {
  color: var(--white-color);
}

.container-skills li p {
  transition: 0.5s ease-in-out;
}

.container-skills .hide p {
  font-size: 0.5rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.img-skills {
  align-self: center;
  text-align: center;

  position: relative;
}

.img-skills .bg-img-skills {
  position: absolute;
  transform: translateX(-50%);
  top: 20%;
  left: 50%;
  max-width: 500px;
  height: 300px;
  opacity: 0.7;
}

#skills img {
  width: 100%;
}

@media (max-width: 970px) {
  .container-skills ul {
    flex-direction: column;
  }

  .container-skills ul li {
    width: 100%;
  }

  .img-skills {
    width: 100vw;
  }

  .img-skills .bg-img-skills {
    top: 10%;
  }

  #skills img {
    width: 60%;
    height: 90%;
  }
}
